/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@800&display=swap');

.title{
    font-family: 'Dancing Script', cursive;
} */

.card-nav {
	/* other styles */
	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.selected{
	color: red;
	font-weight: 700;
}